body {
    padding: 0% !important;
    background-color: #faf9f3;
}

#jumbotronContainer {
    width: 80%;
    min-height: 400px;

    border-radius: 25px;
    background-image: url("../assets/images/conf-img-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #e7e1af;
}

.nav-link.active {
    background-color: #faf9f3 !important;
}

.dropdown-menu {
    background-color: #faf9f3;
}

.card {
    background-color: #faf9f3 !important;
}

.accordion-button {
    color: darkgreen !important;
    font-size: medium;
    font-weight: 600;
}

.accordion-button {
    background-color: #faf9f3 !important;
}

.accordion-item {
    background-color: #faf9f3 !important;
}

.accordion-body {
    background-color: #faf9f3 !important;
}

.navbar-brand {
    white-space: normal;
    font-weight: 700;
}

#navbarContainer {
    flex-wrap: wrap;
    justify-content: center;
}

#navbarOther {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: space-around;
}

#navbarNav {
    justify-content: flex-end;
}

.nav-link {
    font-weight: 600;
}

footer {
    background-color: #d4d2c7;
    justify-content: center;
    padding: 10px 0 10px 0;
}
/* Home Page */
main{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    width: 60%;
    padding: 2.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content h2{
    font-weight: 300;
}

.main-content h1{
    color: #24569f;
    font-weight: 700;
    font-size: 3rem;
}

.main-content p{
    font-size:1.1rem;
    color: #7e7e7e;
}
.main-image{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
}

.main-image img{
    width:100%;
    position: relative;
}
/* End of Home Page */

/* Start of Committee Page*/
section{
    width: 100vw;
    padding:2.5% 5%;
    
}

section h1{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color:#24569f;
}

.sub-committee-container{
    margin:1.5rem 0;
    display: flex;
    flex-direction:column;
}

.sub-committee{
    flex-basis: 32%;
    margin-bottom: 2.5rem;
}
section h2{
    font-weight: 500;
    font-size: 1.75rem;
    color: darkgreen;
}

li{
    font-weight: 400;
    color: #222222;
    margin-bottom: 0.25rem;
}
#technical-committee .sub-committee-container{
    justify-content: space-between;
}
#technical-committee .sub-committee{
    flex-basis: 100%;
}
/* End of Committee Page */

@media (min-width: 992px) and (max-width: 1640px) {
    
    #navbarContainer {
        justify-content: center;
    }

    #navbarNav {
        justify-content: center;
    }

    .sub-committee{
        flex-basis: 48%;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 991px) {
    #navbarContainer {
        justify-content: space-around;
    }
    main{
        flex-direction: column;
        padding: 2.5% 5%;
    }
    .main-content, .main-image{
        width: 100%;
        text-align: center;
    }

    .sub-committee{
        flex-basis: 48%;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 794px) {
    #navbarContainer {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    #contactName {
        text-align: center !important;
    }
    #contactDetails {
        text-align: center !important;
    }

    .about-row {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    #jumbotronContainer {
        width: 90%;
        min-height: 200px;
    }
    
    .jumbo-text {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 737px) {
    #navbarContainer {
        justify-content: space-between;
    }
}

@media (max-width: 487px) {
    
    * {
        font-size: 0.9rem;
    }

    .logo {
        height: 40px;
    }

    #navbarContainer {
        justify-content: center;
    }

    #navbarNav {
        justify-content: center;
    }

    #navbarOther {
        margin-right: 30px;
    }
}