body {
    padding: 0% !important;
}

.navbar-brand {
    white-space: normal;
    font-weight: 700;
}

#navbarContainer {
    flex-wrap: wrap;
    justify-content: center;
}

#navbarOther {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: space-around;
}

#navbarNav {
    justify-content: flex-end;
}

.nav-link {
    font-weight: 600;
}

footer {
    background-color: lightgray;
    justify-content: center;
    padding: 10px 0 10px 0;
}

/* Home Page */

/* End of Home Page */


/* Topics */

/* End of Topics */


/* About Us */

/* End of About Us */

@media (min-width: 992px) and (max-width: 1490px) {
    
    #navbarContainer {
        justify-content: center;
    }

    #navbarNav {
        justify-content: center;
    }
}

@media only screen and (max-width: 991px) {
    #navbarContainer {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 794px) {
    #navbarContainer {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    #contactName {
        text-align: center !important;
    }
    #contactDetails {
        text-align: center !important;
    }

    #jumbotron {
        width: 90% !important;
    }
}

@media only screen and (max-width: 737px) {
    #navbarContainer {
        justify-content: space-between;
    }
}

@media (max-width: 487px) {
    
    * {
        font-size: 0.9rem;
    }

    .logo {
        height: 40px;
    }

    #navbarContainer {
        justify-content: center;
    }

    #navbarNav {
        justify-content: center;
    }

    #navbarOther {
        margin-right: 30px;
    }
}